<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controller</key>
	<string>localhost</string>
	<key>public_location</key>
	<string>http://localhost/Results/</string>
	<key>results_location</key>
	<string>/Users/Shared/Data</string>
	<key>sidekick_location</key>
	<string>/Users/Shared/Sidekick_4.5</string>
	<key>visualisation_location</key>
	<string>/Library/WebServer/Documents/Results</string>
	<key>web_data_location</key>
	<string>/tmp/Web_Sidekick</string>
        <key>python</key>
        <string>/opt/local/bin/python</string>
</dict>
</plist>
