<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>sidekick.web_visualisation</string>
	<key>ProgramArguments</key>
	<array>
		<string>/home/hall/Software/Linux/Sidekick-Install/Sidekick/JobVisualise.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/sk-daemon_stderr.txt</string>
	<key>StandardOutPath</key>
	<string>/tmp/sk-daemon_stdout.txt</string>
	<key>StartInterval</key>
	<integer>7200</integer>
</dict>
</plist>
